<svg id="dateLine" height="60" ng-attr-width="{{displayWidthX}}">

  <line id="caseLine" x1="100" y1="20" ng-attr-x2="{{lastXCoord}}" y2="20"/>
  <line id="caseLine" x1="100" y1="21.5" x2="100" y2="0"/>
  <line id="caseLine" ng-attr-x1="{{lastXCoord}}" y1="21.5" ng-attr-x2="{{lastXCoord}}" y2="0"/>

  <g ng-repeat="date in dateLineInfo">
    <line id="caseLine" ng-attr-x1="{{date.xPos}}" y1="21.5" ng-attr-x2="{{date.xPos}}" y2="0"/>
    <text ng-attr-x="{{date.xPos - 15}}" y="35" font-size="14" font-family="sans-serif">{{date.month}}</text>
  </g>

</svg>
