<svg id="dateLine" height="60" ng-attr-width="{{displayWidthX * zoomBy + 100}}">

  <line id="caseLine" x1="100" y1="20" ng-attr-x2="{{lastXCoord * zoomBy + 100}}" y2="20"/>
  <line id="caseLine" x1="100" y1="21.5" x2="100" y2="0"/>
  <line id="caseLine" ng-attr-x1="{{lastXCoord * zoomBy + 100}}" y1="21.5" ng-attr-x2="{{lastXCoord * zoomBy + 100}}" y2="0"/>

  <g ng-repeat="date in dateLineInfo">
    <line id="caseLine" ng-attr-x1="{{date.xPos * zoomBy + 100}}" y1="21.5" ng-attr-x2="{{date.xPos * zoomBy + 100}}" y2="0"/>
    <text ng-attr-x="{{(date.xPos * zoomBy + 100) - 15}}" y="35" font-size="{{zoomBy * 5.6}}" font-family="sans-serif">{{date.month}}</text>
  </g>

</svg>
