<br><br><br>
<div class="container">

  <svg id="mainSvg" height="1000" width="5000">

    <line id="dateLine" x1="{{todaysDateX * 3}}" y1="0" x2="{{todaysDateX * 3}}" y2="700"/>

    <g ng-repeat="case in allTheCases | orderBy: '+schedConf'">
      <circle id="schedConf" cx="{{case.schedConfX * 3}}" cy="{{($index + 1) * 100}}" r="10"/>
      <a href="#" nf-if="Number.isInteger({{case.joinAmendX}})"><circle id="joinAmend" cx="{{case.joinAmendX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <!-- <a href="#"><circle id="witnessDiscl" cx="{{case.witDisclX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="expWitnessDiscl" cx="{{case.expWitDisclX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="discovery" cx="{{case.discoX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="plDiscovery" cx="{{case.plDiscoX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="defDiscovery" cx="{{case.defDiscoX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="motions" cx="{{case.motsX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="discoMotions" cx="{{case.discoMotsX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="dispoMotions" cx="{{case.dispoMotsX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="nonDispoMotions" cx="{{case.nonDispoMotsX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="motsLimine" cx="{{case.motsLimX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="mediation" cx="{{case.medX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="mediatorSelect" cx="{{case.medSelectX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="pretConsult" cx="{{case.pretConsultX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="pretrialExchange" cx="{{case.pretExchX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="FPTO" cx="{{case.pretOrdX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="FPTC" cx="{{case.pretConfX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="trialBrief" cx="{{case.trBrfX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="juryInst" cx="{{case.juryInstX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="trWitList" cx="{{case.trWitX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="trExhList" cx="{{case.trExhX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><circle id="depoDesig" cx="{{case.depoDesigX * 3}}" cy="{{($index + 1) * 100}}" r="5"/></a>
      <a href="#"><rect id="trialBox" x="{{case.trBeginX * 3}}" y="{{(($index + 1) * 100)-10}}" width="{{case.trLength * 3}}" height="20"/></a> -->

    </g>



    <!-- <div ng-repeat= "case in cases | orderBy: '+schedConf'"> -->
      <!-- <line id="caseLine" x1="120" y1="100" x2="1095" y2="100"/>
        <circle id="schedConf" cx="120" cy="100" r="10"/>
          <a href="#"><text x="10" y="103">Lilo v. Stitch</text></a>
        <a href="#"><circle id="joinAmend" cx="150" cy="100" r="5"/></a>
          <a href="#"><text x="150" y="90" transform="rotate(-45 150, 90)">Join/Amend</text></a>
        <a href="#"><circle id="witnessDiscl" cx="450" cy="100" r="5"/></a>
          <a href="#"><text x="450" y="90" transform="rotate(-45 450, 90)">Wit Discl</text></a>
        <a href="#"><circle id="discovery" cx="523" cy="100" r="5"/></a>
          <a href="#"><text x="523" y="90" transform="rotate(-45 523, 90)">Disco</text></a>
        <a href="#"><circle id="motions" cx="600" cy="100" r="5"/></a>
          <a href="#"><text x="600" y="90" transform="rotate(-45 600, 90)">Motions</text></a>
        <a href="#"><circle id="mediation" cx="800" cy="100" r="5"/></a>
          <a href="#"><text x="800" y="90" transform="rotate(-45 800, 90)">Mediation</text></a>
        <a href="#"><circle id="pretrialExchange" cx="900" cy="100" r="5"/></a>
          <a href="#"><text x="900" y="90" transform="rotate(-45 900, 90)">Pretrial Exch</text></a>
        <a href="#"><circle id="FPTC" cx="1000" cy="100" r="5"/></a>
          <a href="#"><text x="1000" y="90" transform="rotate(-45 1000, 90)">FPTC</text></a>
        <a href="#"><rect id="trialBox" x="1095" y="90" width="36" height="20"/></a>
          <a href="#"><text x="1095" y="85">Trial</text></a> -->
    <!-- </div> -->


    <!-- <line id="caseLine" x1="270" y1="200" x2="1100" y2="200"/>
      <circle id="schedConf" cx="270" cy="200" r="10"/>
        <a href="#"><text x="150" y="203">Benny v. June</text></a>
      <a href="#"><circle id="joinAmend" cx="400" cy="200" r="5"/></a>
        <a href="#"><text x="400" y="190" transform="rotate(-45 400, 190)">Join/Amend</text></a>
      <a href="#"><circle id="witnessDiscl" cx="700" cy="200" r="5"/></a>
        <a href="#"><text x="700" y="190" transform="rotate(-45 700, 190)">Wit Discl</text></a>
      <a href="#"><circle id="discovery" cx="730" cy="200" r="5"/></a>
        <a href="#"><text x="730" y="190" transform="rotate(-45 730, 190)">Disco</text></a>
      <a href="#"><circle id="motions" cx="760" cy="200" r="5"/></a>
        <a href="#"><text x="760" y="190" transform="rotate(-45 760, 190)">Motions</text></a>
      <a href="#"><circle id="mediation" cx="790" cy="200" r="5"/></a>
        <a href="#"><text x="790" y="190" transform="rotate(-45 790, 190)">Mediation</text></a>
      <a href="#"><circle id="pretrialExchange" cx="1000" cy="200" r="5"/></a>
        <a href="#"><text x="1000" y="190" transform="rotate(-45 1000, 190)">Pretrial Exch</text></a>
      <a href="#"><circle id="FPTC" cx="1070" cy="200" r="5"/></a>
        <a href="#"><text x="1070" y="190" transform="rotate(-45 1070, 190)">FPTC</text></a>
      <a href="#"><rect id="trialBox" x="1100" y="190" width="15" height="20"/></a>
        <a href="#"><text x="1100" y="185">Trial</text></a>

    <line id="caseLine" x1="295" y1="300" x2="1200" y2="300"/>
      <circle id="schedConf" cx="295" cy="300" r="10"/>
        <a href="#"><text x="170" y="303">Thelma v. Louise</text></a>
      <a href="#"><circle id="joinAmend" cx="385" cy="300" r="5"/></a>
        <a href="#"><text x="385" y="290" transform="rotate(-45 385, 290)">Join/Amend</text></a>
      <a href="#"><circle id="witnessDiscl" cx="740" cy="300" r="5"/></a>
        <a href="#"><text x="740" y="290" transform="rotate(-45 740, 290)">Wit Discl</text></a>
      <a href="#"><circle id="discovery" cx="830" cy="300" r="5"/></a>
        <a href="#"><text x="830" y="290" transform="rotate(-45 830, 290)">Disco</text></a>
      <a href="#"><circle id="motions" cx="880" cy="300" r="5"/></a>
        <a href="#"><text x="880" y="290" transform="rotate(-45 880, 290)">Motions</text></a>
      <a href="#"><circle id="mediation" cx="940" cy="300" r="5"/></a>
        <a href="#"><text x="940" y="290" transform="rotate(-45 940, 290)">Mediation</text></a>
      <a href="#"><circle id="pretrialExchange" cx="1110" cy="300" r="5"/></a>
        <a href="#"><text x="1110" y="290" transform="rotate(-45 1110, 290)">Pretrial Exch</text></a>
      <a href="#"><circle id="FPTC" cx="1150" cy="300" r="5"/></a>
        <a href="#"><text x="1150" y="290" transform="rotate(-45 1150, 290)">FPTC</text></a>
      <a href="#"><rect id="trialBox" x="1200" y="290" width="36" height="20"/></a>
        <a href="#"><text x="1200" y="285">Trial</text></a>

    <line id="caseLine" x1="500" y1="400" x2="1400" y2="400"/>
      <circle id="schedConf" cx="500" cy="400" r="10"/>
        <a href="#"><text x="380" y="403">Ren v. Stimpy</text></a>
      <a href="#"><circle id="joinAmend" cx="560" cy="400" r="5"/></a>
        <a href="#"><text x="560" y="390" transform="rotate(-45 560, 390)">Join/Amend</text></a>
      <a href="#"><circle id="witnessDiscl" cx="710" cy="400" r="5"/></a>
        <a href="#"><text x="710" y="390" transform="rotate(-45 710, 390)">Wit Discl</text></a>
      <a href="#"><circle id="discovery" cx="750" cy="400" r="5"/></a>
        <a href="#"><text x="750" y="390" transform="rotate(-45 750, 390)">Disco</text></a>
      <a href="#"><circle id="motions" cx="780" cy="400" r="5"/></a>
        <a href="#"><text x="780" y="390" transform="rotate(-45 780, 390)">Motions</text></a>
      <a href="#"><circle id="mediation" cx="850" cy="400" r="5"/></a>
        <a href="#"><text x="850" y="390" transform="rotate(-45 850, 390)">Mediation</text></a>
      <a href="#"><circle id="pretrialExchange" cx="1200" cy="400" r="5"/></a>
        <a href="#"><text x="1200" y="390" transform="rotate(-45 1200, 390)">Pretrial Exch</text></a>
      <a href="#"><circle id="FPTC" cx="1280" cy="400" r="5"/></a>
        <a href="#"><text x="1280" y="390" transform="rotate(-45 1280, 390)">FPTC</text></a>
      <a href="#"><rect id="trialBox" x="1400" y="390" width="15" height="20"/></a>
        <a href="#"><text x="1400" y="385">Trial</text></a>

    <line id="caseLine" x1="550" y1="500" x2="1520" y2="500"/>
      <circle id="schedConf" cx="550" cy="500" r="10"/>
        <a href="#"><text x="430" y="503">Turner v. Hooch</text></a>
      <a href="#"><circle id="joinAmend" cx="625" cy="500" r="5"/></a>
        <a href="#"><text x="625" y="490" transform="rotate(-45 625, 490)">Join/Amend</text></a>
      <a href="#"><circle id="witnessDiscl" cx="805" cy="500" r="5"/></a>
        <a href="#"><text x="805" y="490" transform="rotate(-45 805, 490)">Wit Discl</text></a>
      <a href="#"><circle id="discovery" cx="865" cy="500" r="5"/></a>
        <a href="#"><text x="865" y="490" transform="rotate(-45 865, 490)">Disco</text></a>
      <a href="#"><circle id="motions" cx="900" cy="500" r="5"/></a>
        <a href="#"><text x="900" y="490" transform="rotate(-45 900, 490)">Motions</text></a>
      <a href="#"><circle id="mediation" cx="975" cy="500" r="5"/></a>
        <a href="#"><text x="975" y="490" transform="rotate(-45 975, 490)">Mediation</text></a>
      <a href="#"><circle id="pretrialExchange" cx="1390" cy="500" r="5"/></a>
        <a href="#"><text x="1390" y="490" transform="rotate(-45 1390, 490)">Pretrial Exch</text></a>
      <a href="#"><circle id="FPTC" cx="1500" cy="500" r="5"/></a>
        <a href="#"><text x="1500" y="490" transform="rotate(-45 1500, 490)">FPTC</text></a>
      <a href="#"><rect id="trialBox" x="1520" y="490" width="36" height="20"/></a>
        <a href="#"><text x="1520" y="485">Trial</text></a>

    <line id="caseLine" x1="700" y1="600" x2="1580" y2="600"/>
      <circle id="schedConf" cx="700" cy="600" r="10"/>
        <a href="#"><text x="580" y="603">Tango v. Cash</text></a>
      <a href="#"><circle id="joinAmend" cx="790" cy="600" r="5"/></a>
        <a href="#"><text x="790" y="590" transform="rotate(-45 790, 590)">Join/Amend</text></a>
      <a href="#"><circle id="witnessDiscl" cx="1110" cy="600" r="5"/></a>
        <a href="#"><text x="1110" y="590" transform="rotate(-45 1110, 590)">Wit Discl</text></a>
      <a href="#"><circle id="discovery" cx="1200" cy="600" r="5"/></a>
        <a href="#"><text x="1200" y="590" transform="rotate(-45 1200, 590)">Disco</text></a>
      <a href="#"><circle id="motions" cx="1300" cy="600" r="5"/></a>
        <a href="#"><text x="1300" y="590" transform="rotate(-45 1300, 590)">Motions</text></a>
      <a href="#"><circle id="mediation" cx="1410" cy="600" r="5"/></a>
        <a href="#"><text x="1410" y="590" transform="rotate(-45 1410, 590)">Mediation</text></a>
      <a href="#"><circle id="pretrialExchange" cx="1460" cy="600" r="5"/></a>
        <a href="#"><text x="1460" y="590" transform="rotate(-45 1460, 590)">Pretrial Exch</text></a>
      <a href="#"><circle id="FPTC" cx="1480" cy="600" r="5"/></a>
        <a href="#"><text x="1480" y="590" transform="rotate(-45 1480, 590)">FPTC</text></a>
      <a href="#"><rect id="trialBox" x="1580" y="590" width="45" height="20"/></a>
        <a href="#"><text x="1580" y="585">Trial</text></a>

    <line id="dateLine" x1="975" y1="0" x2="975" y2="700"/> -->

    <!-- <line id="blackLine" x1="0" y1="700" x2="5000" y2="700"/>
        <line id="blackLine" x1="90" y1="690" x2="90" y2="700"/>
          <text x="90" y="685" transform="rotate(-45 90, 685)">Jan 2016</text>
        <line id="blackLine" x1="180" y1="690" x2="180" y2="700"/>
          <text x="180" y="685" transform="rotate(-45 180, 685)">Feb</text>
        <line id="blackLine" x1="270" y1="690" x2="270" y2="700"/>
          <text x="270" y="685" transform="rotate(-45 270, 685)">March</text>
        <line id="blackLine" x1="360" y1="690" x2="360" y2="700"/>
          <text x="360" y="685" transform="rotate(-45 360, 685)">Apr</text>
        <line id="blackLine" x1="450" y1="690" x2="450" y2="700"/>
          <text x="450" y="685" transform="rotate(-45 450, 685)">May</text>
        <line id="blackLine" x1="540" y1="690" x2="540" y2="700"/>
          <text x="540" y="685" transform="rotate(-45 540, 685)">June</text>
        <line id="blackLine" x1="630" y1="690" x2="630" y2="700"/>
          <text x="630" y="685" transform="rotate(-45 630, 685)">July</text>
        <line id="blackLine" x1="720" y1="690" x2="720" y2="700"/>
          <text x="720" y="685" transform="rotate(-45 720, 685)">Aug</text>
        <line id="blackLine" x1="810" y1="690" x2="810" y2="700"/>
          <text x="810" y="685" transform="rotate(-45 810, 685)">Sept</text>
        <line id="blackLine" x1="900" y1="690" x2="900" y2="700"/>
          <text x="900" y="685" transform="rotate(-45 900, 685)">Oct</text>
        <line id="blackLine" x1="990" y1="690" x2="990" y2="700"/>
          <text x="990" y="685" transform="rotate(-45 990, 685)">Nov</text>
        <line id="blackLine" x1="1080" y1="690" x2="1080" y2="700"/>
          <text x="1080" y="685" transform="rotate(-45 1080, 685)">Dec</text> -->

  </svg>

</div>
