#trialCalendar {
    padding: 5px;
    cursor: pointer;
    position:absolute;
    top:14px;
    left: 15px;
    background-color: whitesmoke;
    border: 2px solid black;
    color: black;
    text-decoration:none;
    border-radius: 5px;
}

#trialCalendar:hover {
  color: white;
  background-color: black;
  /*border: 2px solid white;*/
}

#trialCalendar:active {
  color: Black;
}

#sortbyBtn {
    padding: 5px;
    cursor: pointer;
    position:absolute;
    top:14px;
    right: 120px;
    background-color: whitesmoke;
    border: 2px solid Black;
    color: Black;
    text-decoration:none;
    border-radius: 5px;
}

/*index.html*/

body {
  margin: 0;
  background-color: whitesmoke;
}

a:hover {
  cursor: pointer;
}

/*Header*/

.header {
  height: 55px;
  width: 100vw;
  background-color: white;
  position: fixed;
  box-shadow: 0 4px 2px -2px grey;
}

.header h2 {
  text-align: center;
  color: Black;
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 2px;
}

#sortByTitle {
  position:absolute;
  top:0;
  right: 260px;
  margin-top: 10px;
  padding:5px;
  font-family: 'Open Sans', sans-serif;
}

.sortSelector {
  position: absolute;
  top: 14px;
  right: 120px;
  /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
  background-image:
   linear-gradient(45deg, transparent 50%, black 50%),
   linear-gradient(135deg, black 50%, transparent 50%),
   linear-gradient(to right, #ccc, #ccc);
 background-position:
   calc(100% - 15px) 11px,
   calc(100% - 10px) 11px,
   calc(100% - 33px);
 background-size:
   5px 5px,
   5px 5px,
   1px 1.5em;
 background-repeat: no-repeat;
  height: 23px;
  overflow: hidden;
  width: 130px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 2px solid Black;
}


.sortSelector select {
   background: transparent;
   border: none;
   font-size: 12px;
   height: 29px;
   padding: 5px;
   margin-top: -3px;
   width: 140px;
   color: black;
}

select:focus {
  outline: 0;
}

#zoomTitle {
  position:absolute;
  top:0;
  left: 110px;
  margin-top: 10px;
  padding:5px;
  font-family: 'Open Sans', sans-serif;
}

.zoomSelector {
  position: absolute;
  top: 14px;
  left: 175px;
  /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
  background-image:
   linear-gradient(45deg, transparent 50%, black 50%),
   linear-gradient(135deg, black 50%, transparent 50%),
   linear-gradient(to right, #ccc, #ccc);
 background-position:
   calc(100% - 15px) 11px,
   calc(100% - 10px) 11px,
   calc(100% - 33px);
 background-size:
   5px 5px,
   5px 5px,
   1px 1.5em;
 background-repeat: no-repeat;
  height: 23px;
  overflow: hidden;
  width: 130px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 2px solid Black;
}


.zoomSelector select {
   background: transparent;
   border: none;
   font-size: 12px;
   height: 29px;
   padding: 5px;
   margin-top: -3px;
   width: 140px;
   color: black;
}

select:focus {
  outline: 0;
}

#addNew {
  position:absolute;
  top:14px;
  right: 30px;
  padding:5px;
  background-color: whitesmoke;
  border: 2px solid Black;
  color: Black;f
  text-decoration:none;
  border-radius: 5px;
  cursor: pointer;
}

#addNew:hover {
  color: white;
  background-color: black;
  /*border: 2px solid white;*/
}

#addNew:active {
  color: Black;
}

/*Modal*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popupmodal{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/*.popupmodal {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50vw;
  height: 50vh;
  overflow: auto;
  background-color: white;
  text-align: center;
  color: #black;
}*/

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /*margin: 15% auto;*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    width: 80%;
    height: max-content;
    font-family: 'Open Sans', sans-serif;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.inputBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}

.inputColumn {
  margin: 10px;
}

.eventDiv {
  column-count: 3;
}

#modalCaseName, #trialCalendarTitle {
  text-align: center;
  text-decoration: underline;
}

#modalEnter {
  color: red;
  float: right;
}

/*home.html*/
#mainSvg {
  padding-top: 40px;
  /*background-color: lightskyblue*/
  background-color: whitesmoke;
}

#caseLine {
  stroke:black;
}

#schedConf {
  stroke:black;
  fill:green;
}

#editPencil,
#magnifyingGlass {
height:20px;
width:20px;
}

#deleteX {
  height: 17px;
  width: 17px;
}

#caseName {
  text-decoration: underline;
  font-family: sans-serif;
}

#eventCircle {
  stroke:black;
  stroke-width:1;
  fill: yellow;
}

#trialBox {
  fill:red;
  stroke:black;
  /*stroke-width:2*/
}

#dateLine {
  stroke-width:2
}

#todayLine {
  stroke:blue;
}

#blackLine, #movingLine {
  stroke:black;
  stroke-width:2
}

#schedConfTitle {
  margin:0;
  padding: 2px;
  font-size: 75%;
}

#backgroundLines {
  stroke: lightgray;
  stroke-width:1
}

/*Trial Calendar Modal*/


/*Footer*/
#footer {
position:fixed;
bottom:0px;
height:60px;
background-color:whitesmoke;
}
